/* this can probably go in the near future - only seems to be used in a test file */
.component-test-container > * {
  padding: 60px;
  margin: 10px 0 60px 0;
}

.image-block {
  margin: 20px 0 20px 0;
}

.content-block {
  margin: 20px 0 20px 0;
}

.page-heading {
  margin: 10px 0 30px 0;
  text-align: left;
  color: #303138;
  font-size: 30px;
}
